<!DOCTYPE html>
<html>
<head>
  <title>Microscope Size Calculator</title>
   <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
  <div class="container">
    <h2>Microscope Size Calculator</h2>
    <form id="calcForm">
      <input type="text" id="username" placeholder="Species name" required />
      <input type="number" id="specimenSize" placeholder="Microscope size (μm)" required />
      <input type="number" id="magnification" placeholder="Magnification" required />
      <button type="submit">Calculate</button>
    </form>
    <div id="result"></div>
  </div>
  <script src="{{ url_for('static', filename='js/app.js') }}"></script>
</body>
</html>
